.idea
generated/*

# local cmake builds
/build
/cmake-build-debug
/cmake-build-remote
/cmake-build-system

# local config use to test changes
config/_local.conf

# cquery
.vscode
compile_commands.json
cquery_log.txt

# macOS
.DS_Store
._.DS_Stor
._*
